<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zym.demo.repository.StudentRepository">
    <resultMap id="studentResultMap" type="com.zym.demo.bean.Student">
        <id column="stuid" property="stuid"/>
        <result column="studentname" property="studentname"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="clsid" property="clsid"/>
        <association property="aclass" javaType="com.zym.demo.bean.Classes">
            <id column="clsid" property="clsid"/>
            <result column="classname" property="classname"/>
        </association>
    </resultMap>
    <select id="findAll" resultMap="studentResultMap">
        select * from student
    </select>
    <select id="findStudentById" resultMap="studentResultMap">
      select * from student where stuid =#{stuid}
    </select>
    <delete id="deleteStudent">
        delete from student where stuid = #{stuid}
    </delete>
    <update id="updateStudent" parameterType="com.zym.demo.bean.Student">
        update student set studentname=#{studentname},clsid=#{clsid},sex=#{sex},birthday=#{birthday}
        where stuid = #{stuid}
    </update>
    <insert id="saveStudent">
        insert  into student(studentname,clsid,sex,birthday)
        values (#{studentname},#{clsid},#{sex},#{birthday})
    </insert>
</mapper>